# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

variables:
  imageName: zubair819/techworld-js-demo

pool:
  vmImage: ubuntu-latest

steps:

- task: Docker@2
  displayName: Build and push image
  inputs:
    containerRegistry: dockerhub-conn
    repository: $(imageName)
    command: buildAndPush
    Dockerfile: '**/Dockerfile'
    tags: |
      $(Build.BuildId)

- task: AzureCLI@2
  displayName: Deploy to Container Apps
  inputs:
    azureSubscription: azure-service-conn
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      az containerapp update \
        --name techworld-app \
        --resource-group rg-techworld-demo \
        --image $(imageName):$(Build.BuildId)
